@{ 
    ViewBag.Title = "Rating";
}

<h1>Rating</h1>

<form action="DrawRating">
    <input type="number" min="0" max="100"
           name="rating" value="ViewBag.Raring" />
    <input type="submit" value="Draw">
</form>

<br />
@Html.Raw(ViewBag.Stars)